# Data Exploration

In this notebook describe your data exploration steps.

## Install dependencies

In [1]:
# %pip install pandas
# %pip install 'SQLAlchemy==1.4.46'
# %pip install SQLAlchemy

## Load data

In [3]:
import pandas as pd


df_2018 = pd.read_sql_table('fahraddverkehr_2018', 'sqlite:///data/verkehrszaehlungen.sqlite')
df_2022 = pd.read_sql_table('fahraddverkehr_2022', 'sqlite:///data/verkehrszaehlungen.sqlite')

ValueError: Table fahraddverkehr_2018 not found

### Look at the first rows

In [2]:
df.head(10)

,EVA_NR,DS100,IFOPT,NAME,Verkehr,Laenge,Breite,Betreiber_Name,Betreiber_Nr,Status
0,8002551,AELB,de:02000:11943,Hamburg Elbbrücken,RV,10.024500,53.534500,DB Station und Service AG,NaN,neu
1,8001944,TETN,None,Eutingen Nord,RV,8.753100,48.484700,DB Station und Service AG,NaN,neu
2,8003074,MIA,None,Ingolstadt Audi,RV,11.407456,48.790496,DB Station und Service AG,NaN,neu
3,8001723,HEBA,None,Einbeck Otto-Hahn-Straße,RV,9.892910,51.814478,Ilmebahn GmbH,NaN,neu
4,8004371,KRO,None,Nörvenich-Rommelsheim,nur DPN,6.547586,50.782539,Rurtalbahn GmbH,NaN,neu
5,8010340,DSTR,None,Straßgräbchen-Bernsdorf,nur DPN,14.052047,51.361469,None,NaN,neu
6,8001510,TDSA,de:08237:8009:2,Dornstetten-Aach,RV,8.482910,48.473300,DB Station und Service AG,NaN,neu
7,8001966,MFOL,de:09187:90183,Feldolling,nur DPN,11.852244,47.895336,DB Station und Service AG,NaN,neu
8,8002060,FFGG,de:06412:11500,Frankfurt(Main)-Gateway Gardens,RV,8.594495,50.056574,DB Station und Service AG,NaN,neu
9,8002535,EOBG,de:05962:3517,Halver-Oberbrügge,RV,7.574042,51.191867,DB Station und Service AG,NaN,neu

### Data exploration
Print some basic information about the data. Your data exploration would continue here.

In [3]:
df.info()

df['Status'].unique()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6519 entries, 0 to 6518
Data columns (total 10 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   EVA_NR          6519 non-null   int64
 1   DS100           6519 non-null   object
 2   IFOPT           6512 non-null   object
 3   NAME            6519 non-null   object
 4   Verkehr         6519 non-null   object
 5   Laenge          6519 non-null   float64
 6   Breite          6519 non-null   float64
 7   Betreiber_Name  6517 non-null   object
 8   Betreiber_Nr    5395 non-null   float64
 9   Status          24 non-null     object
dtypes: float64(3), int64(1), object(6)
memory usage: 509.4+ KB

array(['neu', None], dtype=object)